@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main: hsl(200, 34%, 32%);
  --first: #41c1ba;
  --second: #f7f7f7;
  --main-font: 'Barlow', sans-serif;
  --box-shadow: 0 0 5px 0 hsla(200, 34%, 32%, 0.418);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: var(--main);
  font-family: var(--main-font);
}

body {
  background: var(--second);
  height: 100vh;
}

body,
#root,
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-size: 12px;
}

.App {
  grid-template-rows: auto 1fr;
}

.main-header {
  display: flex;
  align-items: center;
  height: 70px;
  background: var(--main);
  justify-content: flex-start;
}

.logo {
  height: 50px;
}

.main-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: var(--main);
}

.main-headings {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.sub-headings {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.navLink {
  padding: 10px;
}

.active svg {
  fill: var(--first);
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "stats stats"
    "actions celandar";
  grid-gap: 10px;
  padding: 10px 10px 70px 10px;
}

.stats-container {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background: white;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  padding: 10px;
  grid-gap: 20px;
}

.prog-data {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.prog-chart,
.prog-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prog-chart {
  justify-self: center;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main main";
  overflow: hidden;
  border: 1px solid var(--first);
}

.half-circle,
.half-circle-top {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  transform-origin: right;
}

.half-circle {
  background: var(--first);
}

.half-circle-top {
  background: white;
  z-index: 2;
}

.prog-circle {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: var(--second);
  font-size: 20px;
  z-index: 10;
  grid-area: main;
  justify-self: center;
}

.dash-children {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  background: white;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  padding: 10px;
  grid-gap: 10px;
}

.actions-img {
  width: 100%;
  padding: 10px 0;
}

.react-calendar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 5px;
  padding: 10px 0;
}

.react-calendar__navigation {
  display: flex;
}

.react-calendar__navigation > *,
span {
  background: none;
  border: none;
  padding: 2px;
  font-family: var(--main-font);
  text-transform: uppercase;
}

.react-calendar__month-view__weekdays abbr {
  color: var(--main);
}

.react-calendar__month-view__weekdays abbr[title="Sunday"],
abbr[title="Saturday"] {
  color: tomato;
}

.react-calendar__month-view__days__day {
  background: none;
  border: none;
  padding: 5px;
}

.react-calendar__month-view__days__day--weekend abbr {
  color: var(--first);
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
  color: #cfcfcf;
}

.react-calendar__tile--active {
  background: var(--main);
}

.react-calendar__tile--active abbr {
  color: var(--second);
}

.todays-actions {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  align-items: start;
  padding: 10px 0;
}

.btns {
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: var(--second);
  background: var(--first);
  border: none;
  border-radius: 5px;
}
